/* PAGE ==========================*/


body{
	font-family: "Open Sans", "Segoe WP", "Segoe UI", Helvetica, Arial, sans-serif;
	color: #7F8C9A;
	background: white;
}




/* SOMMAIRE =========================*/

h1, h2
{
	text-align:center;
}


h2
{
	border-top:solid;
}

.listeBoutons
{
	text-align:center;
}

.boutonMenu
{
	display:inline-block;
	vertical-align:top;
}

.boutonMenu a
{
	display:block;
	text-align:center;
	margin:10px;
	box-shadow: 4px 4px 20px #aaa;
	border-radius:10px;
	padding:5px;
}


.boutonMenu a:hover
{
	margin-top:15px
	margin-bottom:5px;
	margin-left:15px;
	margin-right:5px;
	box-shadow: 2px 2px 6px #888;
}

.boutonMenu a,.boutonMenu a:hover,.boutonMenu a:visited
{
	color: #7F8C9A;
	text-decoration:none;
}

.boutonMenu img
{
	margin-top:8px;
}



/* Tabs ============ */


/* Pour les tabs sur téléphone */
@media (max-width: 600px) {
    .ui-tabs .ui-tabs-nav li a {
        padding: 4px 6px !important;   /* onglets plus étroits */
        font-size: 12px !important;    /* texte plus petit */
    }

    .ui-tabs .ui-tabs-nav li {
        margin: 0 2px !important;
    }

    .ui-tabs .ui-tabs-panel {
        padding: 8px !important;       /* contenu moins épais aussi */
    }
}
/*
.tab
{
	display:none;
	margin:0px;
	padding:0px;
}


.tab Active
{
	display:block;
}

#tab1
{
	position:relative;
}

#tabs ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-bottom:solid;
}

#tabs ul li
{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}*/


/* 3D ============================================== */

#menu3D
{
	height:0px;
	width:100%;
	overflow: visible;
	/*position:absolute;
	top:0px;
	left:0px;*/
	text-align:center;
}



#affichage
{
	
}

.interBouton
{
	display:inline-block;
	width:10px;
}

/* Boutons menus *****/

.groupe_boutons
{
    display:inline-block;
	text-align:center;
}


.bouton
{
    width:50px;
    height:50px;
    cursor:pointer;
    margin:2px;
    display:inline-block;
    filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.4));
    transition: transform 0.05s, filter 0.05s;
}

.bouton:active
{
    transform: translate(2px, 2px);
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.8));
}

.bouton.allume
{
    
}

.bouton.eteint img
{
    filter: grayscale(100%);
    opacity:0.5;
}

.bouton img
{
    width:100%:
    padding:0px;
}


label
    {display:inline-block;
    cursor:pointer;
	font-size:small;}

#label_nominal
    {width:50px;
    text-align:right;}

#label_reel
    {width:35px;
    text-align:left;}

#label_ET
    {width:115px;
    text-align:left;}
    
input[type="range"]
{
    margin-top:0px;
	width:100px;
}
   
 

#container
{

}



/* TAB 2 (dessin) *************** */

#tab2
{
	text-align:center;
	padding:20px;
}



/* Back Bouton *********************** */
.conteneur_bouton_retour
{
    height:0px;
	overflow: visible;
	position: absolute;
	top : 18px;
	right:18px;
	z-index: 100;
}

.conteneur_bouton_retour img
{
    width:40px;
    height:auto;
}

@media (max-width: 600px) {
    .conteneur_bouton_retour
    {
        height:0px;
	    overflow: visible;
	    position: absolute;
	    top : 18px;
	    right:18px;
	    z-index: 100;
    }
    .conteneur_bouton_retour img
    {
        width:22px;
      
    }
}

/*.bouton_flottant {
	position:absolute;
	right:0;
	top:0;

    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    -webkit-border-radius: 5px;
	margin-right:40px;
	margin-top:30px;
}
.button.black {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#7d828c),
        color-stop(0.5, #303749), 
        color-stop(0.5, #121a2e), 
        to(#121a2e));
    border: solid 1px rgba(79, 79, 79, 0.75);
}
.button.black:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#4286f5), 
        color-stop(0.5, #4286f5),
        color-stop(0.5, #194fdb),
        to(#194fdb));
}
*/


/* GPS ********* */
table
{
	border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
}
td, th
{
	border: 1px solid black;
	text-align:center;
	padding:3px;
}

.gps2
{
	color:blue;
}
.gps3 .gps4
{
	color:green;
}

.gps5
{
	color:red;
}




/* VOILE NOIR de chargement ****** */
#voileNoir
{
	background-color:#FFF;
	position:fixed;left:0;top:0;
	width:100%;height:100%;
	opacity:.80;
	z-index:9998;
}
*html #voileNoir	/*--Gérer la position fixed pour IE6--*/
{
position: absolute;
}

#iconeChargement
{
	color:black;
	text-align:center;
	position:fixed;left:0;top:50%;
	transform:translateY(-50);
	width:100%;height:100%;
	line-height:100%;
	z-index:9999;
	white-space: nowrap;
}


*html #iconeChargement	/*--Gérer la position fixed pour IE6--*/
{
position: absolute;
}
